.DataList {
    .DataList-item {
        display: flex;
        padding: 18px 0;
        border-bottom: 1px solid $grey;
        :nth-child(1) {
            flex: 0 0 50%;
        }
        :nth-child(2) {
            flex: 1 0 auto;
        }
        color: inherit;
        &:hover {
            color: $color-primary;
        }
    }
}
