.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('images/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: $white;
    &-content {
        padding: 12px 18px;
        max-width: 640px;
    }

    &-title {
        text-transform: uppercase;
        color: $white;
    }

    &-tagline {
        @include font-size(36px);
        line-height: 50px;

    }
    &-cta {}

    @include breakpoint(small) {
        .Hero-content {
                max-width: 420px;
        }
        .Hero-tagline {
            @include font-size(24px);
            line-height: 30px;
        }
    }
}
