.Logo {
    display: flex;
    padding-top: 3px;
    color: $color-primary;
    text-decoration: none;
    img {
        margin-right: 6px;
    }
    span {
        align-self: flex-end;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        color: $color-primary;
    }
}
