.MainHeader {
    display: flex;
    flex-direction: column;

    &--full {
        height: 100vh;
    }

    &-content {
        padding: 12px 0;
        background: $grey-dark;
    }

    &-content-wrapper {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
    }

    &-hero {
        flex: 1 0 auto;
    }

    &-form {
        flex: 0 0 auto;
        &-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        input {
            max-width: 210px;
            margin: 0 18px 0 auto;
        }
        button {
            margin-right: auto;
        }
    }

    &-nav {
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 12px;
                flex: 0 0 auto;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        a {
            color: $white;
            &:hover {
                color: $color-primary;
            }
        }
    }

}
