.MainFooter {
    background-color: $blue-dark;
    color: $white;
    text-align: center;
    padding-bottom: 18px;
    &-wrapper {
        max-width: 768px;
        margin: 0 auto;

        padding: 58px 0;
        display: flex;
        justify-content: space-between;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid $blue-darker;
        padding: 18px 0 6px;
        ul {
            display: flex;
            flex-direction: row;
            li {
                margin: 0 12px;
                flex: 0 0 auto;
            }
        }
        a {
            color: $white;
            &:hover {
                color: $color-primary;
            }
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        li {
            margin: 0 12px;
            flex: 0 0 auto;
        }
    }

    @include breakpoint(small) {
        .MainFooter-wrapper {
            padding: 26px 0;
        }
    }
}
