.NewsletterForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    > * {
        flex: 1 0 auto;
    }
    label {
        @include font-size(18px);
        text-align: right;
    }

    input {
        max-width: 290px;
        margin: 0 18px 0 40px;
    }

    @include breakpoint(small) {
        flex-wrap: wrap;
        label {
            width: 100%;
            text-align: center;
            margin-bottom: 18px;
        }
    }
}
