$section-size-thin: 12px;
$section-size-small: 36px;
$section-size-medium: 72px;
$section-size-large: 112px;

.Section {
    position:relative;
    padding: $section-size-medium 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
        flex: 1 0 100%;
    }

    &-wrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 768px;
        margin-left: 32px;
        margin-right: 32px;
        padding: 0 16px;
    }

    // Colors
    &--neutral {
        background: $grey-light;
    }

    &--dark {
        background: $black;
        color: $white;
    }

    //Sizes
    &--thin {
        padding: $section-size-thin 0;
    }
    &--small{
        padding: $section-size-small 0;
    }
    &--large {
        padding: $section-size-large 0;
    }
}
