.Testimonial {
    margin: 0 24px;
    img {
        margin: 0 auto 24px;
        border: 4px solid $white;
        border-radius: 100%;
    }
    p {
        text-align: center;
    }
    strong {
        display: block;
    }
}
