@mixin breakpoint($media) {
    @if $media == xsmall {
        @media only screen and (max-width: $break-xs) {
            @content;
        }
    }
    @else if $media == small {
        @media only screen and (max-width: $break-s) {
            @content;
        }
    }
    @else if $media == widescreen {
        @media only screen and (min-width: $break-w) {
            @content;
        }
    }
    @else if $media == tall-screen {
        @media only screen and (min-height: $break-t) {
            @content;
        }
    }
}



