@mixin custom-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 6px;
    }
    &::-webkit-scrollbar-button {
        width: 5px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: $color-primary;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color-primary, 0.7);
    }
    &::-webkit-scrollbar-thumb:active {
        background: rgba($color-primary, 1);
    }
    &::-webkit-scrollbar-track {
        //background color goes here if needed
        //use box shadow like that to have a thinner line
        //box-shadow: inset 3px 0px 0px 0px yellow, inset -3px 0px 0px 0px yellow;

    }
    &::-webkit-scrollbar-track:hover {}
    &::-webkit-scrollbar-track:active {}
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
