html,
button,
input,
select,
textarea {
    font-family: $font-stack;
}

html {
    font-size: $font-size-base;
}

body {
    letter-spacing: 0.025em;
    line-height: $line-height-base;
    color: $font-color-base;
    -webkit-font-smoothing: antialiased;
}

input,
textarea {
    user-select: text;
    cursor: text;
}

a, button {
    transition: all 0.2s ease-in;
    color: inherit;
    text-decoration: none;
    color: $color-primary;
    &:hover, &:active {
        color: inherit;
    }
    &:focus {
        color: inherit;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em 0;
    font-weight: $font-weight-regular;
    color: $font-color-heading;
}

.TextHeading--jumbo {
    @include font-size(72px);
    line-height: 80px;
    margin-bottom: 4px;

    @include breakpoint(small) {
        @include font-size(48px);
        line-height: 52px;
    }
}

.TextHeading--medium {
    @include font-size(30px);
    margin-bottom: 12px;
}

p {
    margin: 0 0 1.6em 0;
}


strong {
    font-weight: $font-weight-semi-bold;
}

small {
    @include font-size(12px);
    line-height: 18px;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0 2em;
    padding: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
    ul, ol {
        margin: 0;
    }
    li {
        list-style: none;
    }
}

.horizontal-list{
    ul{
        display:inline-block;
    }
    li{
        display:inline-block;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

// Selection
::-moz-selection {
    background: $color-selection;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $color-selection;
    color: $white;
    text-shadow: none;
}
