/* =======================================================================
Button Base
========================================================================== */
$button-radius: 27px;
$button-border-width: 2px;

%button-reset {
    cursor: pointer;
    background: none;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: normal;
    &:focus {
        outline: none;
    }
}

button {
    @extend %button-reset;
}


.Button {
    display: inline-block;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 3px;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    transition: all 200ms ease-in;
}

// Button styles
// Orange button
.Button--primary {
    background: $color-primary;
    border-bottom: 2px solid $color-primary-background;
    color: $white;
    &:hover {
        color: $white;
    }
}

// Transparent grey button
.Button--secondary {
    background-color: rgba($black, .5);
    border: 1px solid rgba($white, .5);
    color: rgba($white, .5);
    &:hover {
        border-color: $white;
    }
}

// Light grey button
.Button--tertiary {
    background: $grey;
    border-bottom: 2px solid $grey-dark;
    color: $color-secondary;
    &:hover {
        color: $color-secondary;
    }
}

// Button sizes
.Button--wide {
    width: 370px;
}
