/* =======================================================================
Test compilation
========================================================================== */
.test {
    display: block;
    color: red;
    background: red;
    // Testing image url
    background-image: image-url("temp-image-asset.jpg");
    // Testing autoprefixer
    background: linear-gradient(black, yellow);
    .nested-test {
        color: blue;
    }
}
