label[for] {
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
    box-sizing: border-box;
    width: 100%;
    background: $white;
    padding: 6px 12px;
    border: 1px solid $grey;
    border-radius:2px;
    transition: border 0.2s ease-in;
    color: $grey-dark;
}

textarea {

}

.FormElement {
    margin-bottom: 24px;
    &-label {
        display: block;
        margin-bottom: 4px;
    }
    &-control {

    }
}


.FileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.FileUpload + label {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FileUpload:focus + label,
.FileUpload + label:hover {
    //background-color: red;
}
