@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size / 2});
    top: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@function calculateRem($size) {
    $remSize: $size / $font-size-base;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin img-blur($size) {
    -webkit-filter: blur($size);
    filter: blur($size);
}

@mixin valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin valign-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}


@mixin with-line($color, $verticalPlacement: bottom, $horizontalPlacement: center, $spacing: 12px, $width: 14px, $thickness: 1px) {
    position: relative;
    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: $width;
        height: $thickness;
        background: $color;
        @if $verticalPlacement == bottom {
            bottom: -$spacing;
        }
        @else {
            top: -$spacing;
        }
        @if $horizontalPlacement == right {
            right: 0;
        }
        @else if $horizontalPlacement == left {
            left: 0;
        }
        @else {
            left: 50%;
            margin-left: -7px;
        }
    }
}

@mixin text-with-separator($separator-color, $background-color: white) {
    position: relative;
    span {
        position: relative;
        z-index: 2;
        background-color: $background-color;
    }
    &:after {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        margin-top: -1px;
        height: 1px;
        width: 100%;
        background-color: $separator-color;
    }
}

@mixin icon-dot($size, $background-color) {
    height: $size;
    width: $size;
    border-radius: $size;
    background-color: $background-color;
}

@mixin truncate-text{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
