.u-container {
    margin-left: 16px;
    margin-right: 16px;
}

// Grid types
.u-grid,
%u-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;

}

.u-grid-vertical,
%u-grid-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.u-grid-gutter {
    margin: 0 -16px;

    > .u-col {
        padding: 0 16px;
    }
}

.u-grid-spaceBetween {
    justify-content: space-between;
}

.u-grid-center {
    justify-content: center;
}

.u-grid-spaceAround {
    justify-content: space-around;
}

.u-grid-left {
    justify-content: flex-start;
}

.u-grid-right {
    justify-content: flex-end;
}

.u-grid-align-start {
    align-items: flex-start;
}

.u-grid-align-center {
    align-items: center;
}

.u-grid-align-end {
    align-items: flex-end;
}

// Columns
.u-col {
    flex: 1 0 auto;
    box-sizing: border-box;
}

.u-col-fix {
    flex: 0 1 auto;
}

@mixin col-dimensions($nb-columns, $total-columns) {
    // flex: 1;
    .u-grid > & {
        max-width: percentage($nb-columns / $total-columns);
        flex-basis: percentage($nb-columns / $total-columns);
    }

    .u-grid-vertical > & {
        min-height: percentage($nb-columns / $total-columns);
        // flex-basis: percentage($nb-columns / $total-columns);
    }
}

.u-col-1of2 {
    @include col-dimensions(1, 2);
}

.u-col-1of3 {
    @include col-dimensions(1, 3);
}

.u-col-2of3 {
    @include col-dimensions(2, 3);
}

.u-col-1of4 {
    @include col-dimensions(1, 4);
}
.u-col-2of4 {
    @include col-dimensions(2, 4);
}
.u-col-3of4 {
    @include col-dimensions(3, 4);
}


.u-col-1of5 {
    @include col-dimensions(1, 5);
}

.u-col-2of5 {
    @include col-dimensions(2, 5);
}

.u-col-3of5 {
    @include col-dimensions(3, 5);
}

.u-col-4of5 {
    @include col-dimensions(4, 5);
}


@each $breakpoint in $breakpoints {

    .u-col-#{$breakpoint}-1of1 {
        @include breakpoint($breakpoint) {
            @include col-dimensions(1, 1);
        }
    }
}
