.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@each $breakpoint in $breakpoints {
    .visible-#{$breakpoint}-block {
        display: none!important;
        @include breakpoint($breakpoint) {
            display: block!important;
        }
    }
    .visible-#{$breakpoint}-inline-block {
        display: none!important;
        @include breakpoint($breakpoint) {
            display: inline-block!important;
        }
    }
    .hidden-#{$breakpoint} {
        @include breakpoint($breakpoint) {
            display: none!important;
        }
    }

}
